{:paths ["src"]
 :deps {clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}}
 :aliases {:run {:main-opts ["-m" "nethack-cli.core"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
